<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h1 class="accordion-header" id="headingOne">
        <button class="accordion-button text-primary p-1" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5 class="menu2" style="font-weight: 500;font-size: 18px;"><strong>Clientes</strong></h5>
        </button>
      </h1>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body pt-0">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre/Cif/Nif:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
            <button type="submit" class="btn btn-primary btn-sm">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button text-primary p-1" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h5>Nif</h5>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body pt-0">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nif:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
            <button type="submit" class="btn btn-primary btn-sm">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed text-primary p-1" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5>Escaner</h5>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre/Cif/Nif:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
            <button type="submit" class="btn btn-primary btn-sm">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>